# Monitor Config
xrandr --output DP-0 --mode 5120x1440

# Env Vars
export EDITOR="nvim"
export TERMINAL="kitty"
export BROWSER="firefox"

# XDG Paths
export XDG_CONFIG_HOME=$HOME/.config
export XDG_CACHE_HOME=$HOME/.cache
export XDG_DATA_HOME=$HOME/.local/share

# GTK Theme
export GTK_THEME=TokyoNight

# Fixing Gnome-Keyring
source /etc/X11/xinit/xinitrc.d/50-systemd-user.sh

#  Compositor
picom -b 
